:root {
	--clr-bg: #f4f2f1;
	--clr-white: #ffffff;
	--clr-font: #1c1c1c;
	--ff-lg: "Raleway", Arial, sans-serif;
	--ff-sm: "Lato", Arial, sans-serif;
	--brdr-sm-gray: 1px solid #c7c7c7;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*.inline {
	display: inline;
}

*.font-lg {
	font-size: 1rem;
}

*.bold {
	font-weight: 700;
}

body {
	position: relative;
	font-size: 14px;
	line-height: 1.3rem;
	color: var(--clr-font);
	background-color: var(--clr-bg);
}

h2 {
	font-family: var(--ff-lg);
	font-size: 3.1rem;
	font-weight: 500;
	line-height: 0.9;
}

h3 {
	font-family: var(--ff-lg);
	font-size: 1rem;
	font-weight: 700;
}

p {
	font-family: var(--ff-sm);
	font-weight: 300;
}

p.font-lg {
	font-size: 1rem;
}

.resume-letter {
	max-width: 50%;
	margin: 2em auto;
	padding: 6em;
	background: var(--clr-white);
	border: var(--brdr-sm-gray);
	height: 100em;
}

.flex-row {
	position: relative;
	display: flex;
}

.flex-row:not(.end-of-doc)::after {
  content: "";
  position: absolute;          
  width: 1.5em;
  height: 3px;
  background: var(--clr-font);
  left: 0;
  bottom: 0;
}

.flex-col.col-left {
	flex: 0 0 40%;
	padding: 1em 0 2em 0;
}

.flex-col.col-left.no-padding {
	padding: 0;
}

.flex-col.col-right {
	flex: 0 0 60%;
	padding: 1em 0 2em 0;
}

.flex-col.col-right.brdr-top {
	border-top: 3px var(--clr-font) solid;
}

.flex-col.col-right.brdr-bottom {
	border-bottom: 3px var(--clr-font) solid;
}

.tbl-grid {
	display: grid;
	grid-template-columns: 8em 1fr;
}

.flex-list {
	display: flex;
	flex-direction: column;
	gap: 1.5em;
}

.lst-entry span {
	padding: 0 3px;
}

.lst-entry .entry-info p {
	font-size: 13px;
	color: #4c4949;
}

.lst-entry .entry-desc p {
	font-size: 13px;
	font-weight: 400;
}
